<template>
  <div class="<%= data.lowerName %>">
    
  </div>
</template>

<script>
  export default {
    name: '<%= data.name %>',
    props: {

    },
    components: {

    },
    mixins: [],
    data() {
      return {
        
      }
    },
    created() {
      
    },
    mounted() {
      
    },
    computed: {
      
    },
    methods: {
      
    },
  }
</script>

<style scoped>
  .<%= data.lowerName %> {

  }
</style>